<!doctype html>
<html lang="en">
    <head>
      <title>BeeHome-433</title>

      <!-- tutorila React: https://www.kirupa.com/react/building_your_first_react_app.htm -->
      <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
      <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
      <!-- babel compiler -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- switch button  -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>
<script src="https://unpkg.com/classnames/index.js"></script>
<script src="https://unpkg.com/react-switch-button/dist/react-switch-button.js"></script>
<link rel="stylesheet" href="https://unpkg.com/react-switch-button/dist/react-switch-button.css">
      <style>
        #bee {
          padding: 50px;
          background-color: #FFF;
        }

      </style>
    </head>
    <body>

        <h1 id="name">BeeHome-433</h1>

         <div id="bees"> </div>

         <script type="text/babel">

            var Bee = React.createClass({
              getInitialState: function() {
                     return {value: ''};
              },

              componentDidMount: function() {
                        socket.on('beemsg', this._messageRecieve);
                        // socket.on('send:message', this._messageRecieve);
                        // socket.on('user:join', this._userJoined);
                        // socket.on('user:left', this._userLeft);
                        // socket.on('change:name', this._userChangedName);
              },
              _messageRecieve: function(message) {

                  var msg = JSON.parse(message);
                  // console.log(this.props.beeAddress);
                  // console.log(msg.src);
                  if(msg.src == this.props.beeAddress){
                    this.setState({ value: msg.data });
                  }
                  // messages.push(message);
                  // this.setState({messages});
              },

              render: function() {
                var beeStyle = {
                 padding: 10,
                 margin: 10,
                 backgroundColor: "#ffde00",
                 borderRadius: "30",
                 //backgroundImage: "url('BeeHive2.png')",
                 //backgroundSize:"80",
                 color: "#333",
                 display: "inline-block",
                 fontFamily: "monospace",
                 fontSize: "32",
                 textAlign: "center"
               };
                return (
                  <div style={beeStyle}> Bee {this.props.beeAddress}!
                  <p>Control a led</p>
                  {this.props.children}

                    <p>value:
                    {this.state.value}
                    </p>
                  </div>
                );
              }

            })

            var ButtonsLed = React.createClass({

              handleClick: function (dst,data) {
                var msg = {"dst": dst, "op":2, "data":data};
                 console.log(JSON.stringify(msg)); // React Component instance
                 socket.emit('command', JSON.stringify(msg));
               },

              render: function(){
                var ButtonGreen= {
                    backgroundColor: "#4CAF50",
                    borderRadius: "30",
                    border: "none",
                    color: "white",
                    padding: "15",
                    textAlign: "center",
                    textDecoration: "none",
                    display: "inline-block",
                    fontSize: "16"
                };
                var ButtonRed= {
                    backgroundColor: "#f44336",
                    border: "none",
                    borderRadius: "30",
                    color: "white",
                    padding: "15",
                    textAlign: "center",
                    textDecoration: "none",
                    display: "inline-block",
                    fontSize: "16"
                };
                return (
                  <div>
                    <button style={ButtonGreen} type="button" onClick={()=>{this.handleClick(this.props.beeDst, 1)}} >Accendi!</button>
                    <button style={ButtonRed} type="button" onClick={()=>{this.handleClick(this.props.beeDst, 0)}} >Spegni!</button>
                   </div>
                );
              }
            });

            ReactDOM.render(
              <div>
                <Bee beeAddress="1"> <ButtonsLed beeDst="1"/> </Bee>
                <Bee beeAddress="2">  <ButtonsLed beeDst="2"/> </Bee>
                <Bee beeAddress="Broadcast"> <ButtonsLed beeDst="255"/> </Bee>
              </div>,
              document.querySelector("#bees")
            );

          </script>

        <!-- <script src="/jquery/dist/jquery.js"></script> -->
        <script src="/socket.io/socket.io.js"></script>

        <script src="js/clients-sockets.js"></script>


    </body>

</html>
